body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    text-align: center;
}

.btn {
    width: 100%;
}

.list-group-item {
    cursor: pointer;
}

.text-center {
    margin-bottom: 30px;
}

#app {
    margin-top: 20px;
}
